  <div id="header">
    <h1>Edit <%= @product.brand %></h1>
    <a href="<%= url_for :action => :show, :id => @product.object %>">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @product.object %>">
      Delete
    </a>
  </div>
 <br />
     <form method="POST" action="<%= url_for :action => :update %>">
     <fieldset>
      <input type="hidden" name="id" value="<%= @product.object %>"/>
      
            <label for="product[brand]" class="fieldLabel">Brand</label><br />
            <input type="text" id="product[brand]" name="product[brand]" value="<%= @product.brand %>" class='jq-ui-forms' /><br />
            
            <label for="product[name]" class="fieldLabel">Name</label><br />
            <input type="text" id="product[name]" name="product[name]" value="<%= @product.name %>" class='jq-ui-forms' /><br />
          
            <label for="product[price]" class="fieldLabel">Price</label><br />
            <input type="text" id="product[price]" name="product[price]" value="<%= @product.price %>" class='jq-ui-forms' /><br />
          
            <label for="product[quantity]" class="fieldLabel">Quantity</label><br />
            <input type="text" id="product[quantity]" name="product[quantity]" value="<%= @product.quantity %>" class='jq-ui-forms' /><br />
          
            <label for="product[sku]" class="fieldLabel">Sku</label><br />
            <input type="text" id="product[sku]" name="product[sku]" value="<%= @product.sku %>" class='jq-ui-forms' /><br />
          
      
      <input type="submit" value="Update" class="button"/>
     </fieldset> 
    </form>
  
